.main-header {
    padding: 1.5rem 4rem;
    margin-bottom: 3rem;
    position: relative;

    .header-content {
        max-width: 125rem;
        margin-inline: auto;
    }

    .switch-theme {
        cursor: pointer;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        font-size: 2rem;
    }

    .mobile-menu-icon {
        // color: var(--clr-text);
        fill: var(--clr-text);
    }

    @media only screen and (max-width: 1440px) {
        .logo__container {
            max-width: 15rem;
        }
    }

    @media only screen and (max-width: 1030px) {
        .logo__container {
            max-width: 10rem;
        }
    }

    @media only screen and (max-width: 800px) {
        padding: 1.5rem 4rem;
        .nav-list {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 2;
            padding: 4rem 2rem 6rem;
            background-color: var(--clr-background);
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;

            transform: translateY(-50%);
            height: 0;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            transition: 0.3s;

            ul {
                display: grid;

                li {
                    border-bottom: 2px solid var(--clr-purple);
                    font-size: 3rem;
                }
            }
        }
        .nav-list.active {
            transform: translateY(0);
            height: max-content;
            visibility: visible;
            opacity: 1;
            z-index: 2;
        }
    }
    @media only screen and (max-width: 800px) {
        padding: 1.5rem 2rem;
    }
}
