.home-container {
    .hero-container {
        padding-top: 25rem;
        // background-image: url("../../assets/images/hero-bg.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;

        h1 {
            display: flex;
            flex-direction: column;
            width: max-content;
            margin-inline: auto;

            & span:first-child,
            & span:last-child {
                font-size: 60%;
                color: var(--clr-secondary);
            }

            & span:nth-child(2) {
                transform: translateX(-1ch);
            }

            & span:last-child {
                align-self: end;
            }
        }

        .hero-images {
            display: flex;
            position: relative;
            align-items: flex-end;

            figure {
                height: max-content;
                position: relative;

                &.left {
                    transform: translateX(100px);
                    z-index: 2;
                }
                &.left-2 {
                    z-index: 1;
                    transform: translateX(180px);
                }
                &.middle {
                    z-index: 3;
                }
                &.right {
                    transform: translateX(-100px);
                }
                &.right-1 {
                    z-index: 2;
                }
                &.right-2 {
                    transform: translateX(-180px);
                }
            }
        }
    }

    .vision-container {
        // background-image: url("../../assets/images/main-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-block: 8rem;

        .vision-heading {
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 100%;
            color: #fff;
            font-style: normal;
            letter-spacing: 2px;

            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 8rem;
            z-index: 4;

            text-align: center;
        }
        .vision-para {
            color: var(--clr-secondary);
            text-align: center;
            margin-bottom: 4rem;
        }

        .vision-action {
            margin-inline: auto;
            margin-bottom: 7rem;
        }

        .vision-content {
            background-color: var(--clr-dark);
            max-width: 100rem;
            margin-inline: auto;
            padding: 5rem;
            border-radius: 2rem;

            &::before {
                border-radius: 2rem;
            }

            h4 {
                text-align: center;
                width: max-content;
            }
        }
    }
}
