.icon-xl {
    width: 5rem;
    height: auto;
}
.icon-l {
    width: 4rem;
    height: auto;
}
.icon {
    width: 3rem;
    height: auto;
}
.icon-s {
    width: 2.5rem;
    height: auto;
}
.icon-xs {
    width: 2rem;
    height: auto;
}

.gradient-text {
    background-image: var(--clr-linear-gradient-2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.btn-actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.d-btn-gradient {
    padding: 1rem 3.5rem;
    font-family: inherit;
}

.gradient-border {
    position: relative;
}
.gradient-border::before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 5px;
    border: 2px solid transparent;
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
}
.gradient-border-1::before {
    background: var(--clr-linear-gradient-1) border-box;
    -webkit-mask: var(--clr-linear-gradient-1) padding-box, var(--clr-linear-gradient-1);
}
.gradient-border-2::before {
    background: var(--clr-linear-gradient-2) border-box;
    -webkit-mask: var(--clr-linear-gradient-2) padding-box, var(--clr-linear-gradient-2);
}

.d-btn {
    text-decoration: none;
    border-radius: 5px;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
    padding: 1rem 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &.filled {
        font-family: var(--font-family-primary);
        color: var(--clr-dark);
        background-image: var(--clr-linear-gradient-2);
    }
}

.d-card {
    background-color: var(--clr-base-2);
    border-radius: 15px;
    border: 3px solid var(--clr-border);
    padding: 3rem;
}

.main-container {
    max-width: 130rem;
    margin-inline: auto;
}

@media only screen and (min-width: 800px) {
    .hide-desktop {
        display: none;
    }
}
